/* Basic reset and layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, “Helvetica Neue”, Helvetica, sans-serif;
}

body {
    color: #575757;
    line-height: 1.6;
    background: #f7f6f2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    gap: 20px;
    padding-top: 40px;
}

.sidebar {
    background: #f7f6f2;
    padding: 20px;
    text-align: center;
}

.profile-picture {
    width: 80%;
    border-radius: 1%;
    object-fit: cover;
    margin-bottom: 20px;
}

.sidebar h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

.sidebar p {
    color: #828181;
}

.content {
    padding: 20px;
    background: #f7f6f2;
}

.paper{
    font-size: 1.0em;
    font-weight: 600;
    margin-bottom:10px;
}
.paper-authors{
    font-size: 1.0em;
    font-weight:400;
}
.paper-link{
    font-size: 1.0em;
    font-weight:400;
}
.paper-link a{
    color:#7BA23F;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}


a {
    color: #F17C67;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


section {
    margin-bottom: 30px;
}
h2{
    font-size: 1.2em;
    margin-bottom: 6px;
}
h3{
    font-size: 1.0;
}

ul {
    list-style: disc outside;
    padding-left:20px;
}

ul li {
    
}



ul li a:hover {
    text-decoration: underline;
}

